<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petsmarthome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PERMISSION_GRANTED" />
    <uses-permission android:name="android.permission.NOTIFICATION_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Devices_StatuesActivity" />
        <activity android:name=".CollarDetailsActivity" />
        <activity android:name=".UpdateClientActivity" />
        <activity android:name=".ReportFeedbackActivity" />
        <activity android:name=".ReportClientActivity" />
        <activity android:name=".ReportsControlActivity" />
        <activity android:name=".ProfilPetActivity" />
        <activity android:name=".ProfilClientActivity" />
        <activity android:name=".SearchClientActivity" />
        <activity android:name=".SearchPetActivity" />
        <activity android:name=".RegisterCollarActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AdminFeedbackActivity" />
        <activity android:name=".ClientMonitorActivity" />
        <activity android:name=".ClientHomeActivity" />
        <activity android:name=".signup_PetActivity" />
        <activity android:name=".signup_ClientActivity" />
        <activity android:name=".Res_PassActivity" />
        <activity android:name=".forgetPassword" />
        <activity android:name=".FeedBackActivity" />
        <activity android:name=".Fan_SystemActivity"/>
        <activity android:name=".Feeding_SystemActivity" />
        <activity android:name=".Light_SystemActivity" />
        <activity android:name=".SelectUserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>